bandName {
    font-size: larger;
    
}

song {
    display: block;
}

title {
    font-size: large;
    display: block;
}

artists {
    font-size: small;
    display: block;
}

genres {
    font-size: small;
    display: block;
}

year {
    font-size: small;
    display: block;
}